@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jetbrains Regular';
  src: url("/fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: 'Jetbrains Bold';
  src: url("/fonts/JetbrainsMono-Bold.woff2");
}

html {
  background-color: #2D2A2E;
}

