@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jetbrains Regular';
  src: url("/fonts/JetbrainsMono-Regular.ttf");
}

@font-face {
  font-family: 'Jetbrains Bold';
  src: url("/fonts/JetbrainsMono-Bold.ttf");
}

html {
  background-color: #2D2A2E;
}

