@font-face {
    font-family: 'Nohemi';
    src: url('../fonts/nohemi.ttf');
}

.header{
    display: flex;
    justify-content: sace-between;
    padding-bottom: 10vh;
}

.header .left {
    background: linear-gradient(180deg, #B8F23C 0%, #9AFF81 100%);
    max-width: 50vw;
    min-width: 30vw;
    height: 90vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .left img{
    max-height: 40vh;
    min-height: 40vh;
}

.header .right {
    margin-left: 3vw;
    font-family: 'Nohemi';
    width: 30vw;
}

.header .right h1{
    font-weight: 800;
    font-size: 4.1em;
    margin: 0;
}

.green-text{
    background: linear-gradient(181deg, #B7F33E 37.55%, #66FF7E 99.57%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .right p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    width: 28em;
}

.header .right .skills{
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 7px;
    border: 1px dashed rgba(255, 255, 255, 0.21);
    padding: 1em;
    width: 30em;
}

.header .right .skill{
    margin-right: 1em;
}

.header .right .btn-green{
    padding: 1.5em 2.5em;
    color: black;
    text-decoration: none;
    border-radius: 7px;
    background: linear-gradient(180deg, #B7F33E 0%, #68FF7E 100%);
}

.proyectos{
    margin-top: 10em;
}

.proyectos .title{
    font-family: 'Nohemi', sans-serif;
    font-weight: 800;
    font-size: 4.1em;
    margin: 0;
}

.proyectos .text{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 19px;
    margin-bottom: 2em;
}

.proyectos .cards{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.proyectos .cards .card{
    max-width: 25em;
    border-radius: 12px;
    border: 1px solid #313131;
    background: linear-gradient(180deg, #1B1B1B 0%, #181818 100%);
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-radius: 30px;
    padding: 1.2em 1em 2em 1em;
}

.proyectos .cards .card img{
    object-fit: contain;
    border-radius: 12px 12px 0 0;
}

.proyectos .cards .card .title-card{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 800;
    font-size: 26px;
    margin: 0;
    margin-top: .3em;
}

.proyectos .cards .card .desc-card{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin: 0;
    margin-top: 0.7em;
    margin-bottom: 2em;
}

.proyectos .cards .card .btn-gray{
    display: flex;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    font-family: 'Kumbh Sans';
    font-weight: 600;
    transition: color .5s;
    padding: 1em 40%;
}

.proyectos .cards .card .btn-gray:hover{
    color: white;
    color: rgb(255, 255, 255);
}

.proyectos .info-container{
    display: flex;
    justify-content: center;
}

.proyectos .info-container .info{
    border-radius: 10px;
    border: 1px dashed #8A8A8A;
    background: rgba(39, 41, 39, 0.00);
    padding: 1em 2em;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 5em;
}

.proyectos .info-container .info a{
    color: #8BFA62;
}

.contacto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.contacto .left{
    width: 38vw;
    margin-top: 25vh;
}

.contacto .left h3{
    font-size: 4.1em;
    font-family: 'Nohemi', sans-serif;
    margin: 0;
}

.contacto .left p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 19px;
}

.contacto .left p a{
    color: #8BFA62;
}

.contacto .left .rrss{
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 7px;
    border: 1px dashed rgba(255, 255, 255, 0.21);
    padding: 1em;
    width: 11em;
    text-align: center;
}

.contacto .left .rrss img{
    margin-right: 1em;
}

.contacto .right {
    background: linear-gradient(180deg, #F23CB4 0%, #D781FF 100%);
    max-width: 50vw;
    min-width: 30vw;
    height: 90vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .right img{
    max-height: 30vh;
    min-height: 30vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        padding: 0em 2vw !important;
    }
    .header .left {
        display: none;
    }

    .header .right {
        width: 60vw;
    }
    .header .right h1{
        font-size: 3em;
        word-break: break-word;
    }

    .header .right p{
        width: 15em;
    }

    .header .right .skills{
        width: 10em;
    }

    .proyectos .cards{
        display: block;
    }

    .proyectos .cards .card{
        max-width: 80vw;
        margin-bottom: 5em;
    }

    .proyectos .cards .card img{
        max-width: 80vw;
        min-width: 80vw;
    }

    .contacto .right{
        display: none;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .header .left {
        display: none;
    }

    .header .right {
        width: 60vw;
    }
    .header .right h1{
        font-size: 7em;
        word-break: break-all;
    }

    .proyectos .cards{
        display: block;
    }

    .proyectos .cards .card{
        max-width: 44vw;
        margin-bottom: 5em;
    }

    .proyectos .cards .card img{
        max-width: 44vw;
        min-width: 44vw;
    }

    .contacto .right{
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .header .left {
        display: flex;
    }

    .header .right{
        width: 30vw;
    }

    .header .right h1{
        font-size: 4.1em;
        word-break: normal;
    }

    .proyectos .cards{
        display: flex;
    }

    .proyectos .cards .card{
        max-width: 24vw;
        margin-bottom: 5em;
    }

    .proyectos .cards .card img{
        max-width: 24vw;
        min-width: 24vw;
    }

    .contacto .right{
        display: flex;
    }
}
